#Required to pull data
ZWIFT_USERNAME=your_email@example.com
ZWIFT_PASSWORD=your_password

#required to pull data
# Point to a cookie file (relative to this folder)
ZWIFTPOWER_COOKIE_FILE=zwiftpower_cookies.json
ZWIFTRACING_COOKIE_FILE=www.zwiftracing.app_cookies.json

#Required for creating spreadsheet
GOOGLE_APPLICATION_CREDENTIALS=google-credentials.json
SPREADSHEET_ID=1aiIENl6x-vhn_6sMB3sIaKzy4huDHkqoi83gfKdlzPs

# - Keep real credentials and cookies out of source control.