# Optional: cookie-based auth for ZwiftPower / ZwiftRacing
# You can create zwiftpower_cookies.json or zwiftpower_cookies.txt and www.zwiftracing.app_cookies.json or www.zwiftracing.app_cookies.txt by logging into the respective sites and exporting the cookies from your browser.

#Required for creating spreadsheet
GOOGLE_APPLICATION_CREDENTIALS=google-credentials.json
SPREADSHEET_ID=1aiIENl6x-vhn_6sMB3sIaKzy4huDHkqoi83gfKdlzPs

# - Keep real credentials and cookies out of source control.